.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
background-color: #333333
}
.top {
  height: 10em;
  font-family: Lucida Grande, Tahoma, Calibri, Arial, sans-serif;
}
.middle{
  height: 50em;
}
